@import "../fonts";
@import "../template";

body{
    background: #222021;
    // overflow-x: hidden;
    }

div{
border: solid 1px red;
}

p{
    border: solid 1px red;
}

.title {
@extend %title;

@media #{$tablet} {
    font-size: 60px;
}
@media #{$mobile} {
    font-size: 30px;
}
}

.text {
@extend %text;

@media #{$tablet} {
    margin-bottom: 60px;
}
@media #{$mobile} {
    font-size: 15px;
}
}


// BLOCK ABOUT US

.about {
    border-radius: 0px 42px 42px 0px;
    background-color: #1e0c06;
    max-width: 1325px;
    width: 100%;
    min-height: 775px;
    padding: 32px;
    box-shadow: 0px -8px 52px 0px rgba(238, 238, 238, 0.17);

    display: flex;
    margin-right: 28px;
    //отступ для другой страницы
    margin-bottom: 200px;

    // @media screen and (max-width: 1210px) {
    //   flex-direction: column;
    //   gap: 46px;
    // }

    @media #{$tablet} {
        min-height: 775px;
        flex-direction: column;
        gap: 46px;
    }
    @media #{$mobile} {
        max-width: 340px;
        min-height: 674px;
        flex-direction: column;
        gap: 46px;
    }
    }


.about-arcticle {
    border: solid 1px red;
    max-width: 516px;
    // margin-left: 212px;
    margin-left: 16%;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 67px;

    @media #{$tablet} {
        max-width: 560px;
        margin-left: 34px;
        gap: 46px;
    }
    @media #{$mobile} {
        max-width: 283px;
        margin-left: 17px;
        gap: 36px;
    }

    &__text {
        height: 294px;
        display: flex;
        align-items: center;

        @media #{$mobile} {
            height: 146px;
        }
    }
}



.about-arcticle__title {
    height: 120px;

    @media #{$tablet} {
        height: 80px;
    }
    @media #{$mobile} {
        height: 40px;
    }
}


.about-pictures {
    border: solid 1px white;
    position: relative;
    width: 100%;

    @media #{$mobile} {
        max-width: 283px;
        margin: 0 auto;
        gap: 36px;
    }


    &__img1 {
        position: absolute;
        top: 29px;
        right: 38px;

        @media #{$tablet} {
            top: 29px;
            right: 38px;
        }
        @media #{$mobile} {
            height: 111px;
            width: 111px;
            top: 29px;
            right: 38px;
        }
    }

    &__background-img2 {
        height: 337px;
        width: 337px;
        position: absolute;
        top: 145px;
        right: 125px;
        border-radius: 42px;
        background-color: #1e0c06;
        max-width: 100%;

        @media #{$mobile} {
            height: 182.8px;
            width: 182.8px;
        }
    }

    &__img2 {
        position: absolute;
        top: 155px;
        right: 135px;
        z-index: 1;

        @media #{$mobile} {
            height: 182.8px;
            width: 182.8px;
        }
    }

    &__img3 {
        position: absolute;
        bottom: -1px;
        right: 70px;
    }

    @media #{$tablet} {
        margin-left: 22%;
        margin-right: 5%;
    }
    @media #{$mobile} {
        height: 112px;
        width: 111px;
        bottom: 29px;
        right: 75px;
    }
}

.text-bold {
font-weight: bold;
}

.empty-footer {
height: 200px;
}

// ?
img{
max-width: 100%;
}